body.bg-home {
  background-image: url('../images/bg-home.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

section.home {
  height: 100%;
  display: flex;
  align-items: center;

  color: #fff;
}

section.home .home-title {
  /* margin-top: -5em; */
  font-size: 50px;
}

section.home .sub-title {
  max-width: 700px;
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  body.bg-home {
    background-position: center;
  }

  section.home .home-title {
    margin-top: 0;
    font-size: 35px;
  }

  section.home .sub-title {
    font-size: 18px;
  }

  .container {
    padding-top: 3em;
  }
}
